# Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams as adjust
import seaborn as sns
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Load data & EDA

In [2]:
train_data = pd.read_csv ('D://Datasets/titanic_train.csv')
test_data = pd.read_csv ('D://Datasets/titanic_test.csv')
display (train_data.head (3))
display (test_data.head (3))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [3]:
print (train_data.dtypes, '\n\n', test_data.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

 PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
print (train_data.shape)
print (test_data.shape)

(891, 12)
(418, 11)

In [5]:
print (train_data.ndim)
print (test_data.ndim)

2
2

In [6]:
train_data.describe ()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
test_data.describe ()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [8]:
train_data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
test_data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
train_data.duplicated ().sum (), test_data.duplicated ().sum ()

(0, 0)

In [11]:
train_data.isna ().sum ()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
test_data.isna ().sum ()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [13]:
print ('Train data')
print ("Mean Age: ", round (train_data ['Age'].mean ()))
print ('Median Age: ', round (train_data ['Age'].median ()))
print ('Mode Age: ', train_data ['Age'].mode ())
print ('\n\nTest data')
print ("Mean Age: ", round (test_data ['Age'].mean ()))
print ('Median Age: ', round (test_data ['Age'].median ()))
print ('Mode Age: ', test_data ['Age'].mode ())

Train data
Mean Age:  30
Median Age:  28
Mode Age:  0    24.0
Name: Age, dtype: float64


Test data
Mean Age:  30
Median Age:  27
Mode Age:  0    21.0
1    24.0
Name: Age, dtype: float64

In [14]:
train_data ['Age'].fillna (value=round (train_data ['Age'].mean ()), inplace=True)
print (train_data ['Age'].isna ().sum ())

0

In [15]:
test_data ['Age'].fillna (value=round (test_data ['Age'].mean ()), inplace=True)
print (test_data ['Age'].isna ().sum ())

0

In [16]:
train_data.drop (['Cabin'], axis=1, inplace=True)
train_data.head (3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S

In [17]:
test_data.drop (['Cabin'], axis=1, inplace=True)
test_data.head (3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q

In [18]:
print ('No of uniques in Embarked: ', train_data ['Embarked'].nunique ())
print ('Unique values: ', train_data ['Embarked'].unique ())

No of uniques in Embarked:  3
Unique values:  ['S' 'C' 'Q' nan]

In [19]:
print ('Mode (Embarked): ', train_data ['Embarked'].mode ())

Mode (Embarked):  0    S
Name: Embarked, dtype: object

In [20]:
train_data ['Embarked'].fillna (value=train_data ['Embarked'].mode () [0], inplace=True)
print (train_data.Embarked.isna ().sum ())

0

In [21]:
test_data ['Fare'].isna ().sum ()

1

In [22]:
print ('Max Fare: ', max (test_data ['Fare']))
print ('Min Fare: ', min (test_data ['Fare']))
print ('Mean Fare: ', test_data ['Fare'].mean ())
print ('Medain Fare: ', test_data ['Fare'].median ())
print ('Mode Fare: ', test_data ['Fare'].mode ())

Max Fare:  512.3292
Min Fare:  0.0
Mean Fare:  35.6271884892086
Medain Fare:  14.4542
Mode Fare:  0    7.75
Name: Fare, dtype: float64

In [23]:
test_data ['Fare'].fillna (value=test_data ['Fare'].median (), inplace=True)
test_data ['Fare'].isna ().sum ()

0

In [24]:
train_data.isna ().sum ().sum ()
test_data.isna ().sum ().sum ()

0

In [25]:
print (train_data.columns)
print (test_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [26]:
train_data.drop (['PassengerId', 'Name', 'Ticket', 'Embarked'], axis=True, inplace=True)
train_data.head (1)

   Survived  Pclass   Sex   Age  SibSp  Parch  Fare
0         0       3  male  22.0      1      0  7.25

In [27]:
test_data.drop (['PassengerId', 'Name', 'Ticket', 'Embarked'], axis=True, inplace=True)
test_data.head (1)

   Pclass   Sex   Age  SibSp  Parch    Fare
0       3  male  34.5      0      0  7.8292

In [28]:
corr = train_data.corr ().iloc [0:1, :]
corr

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived       1.0 -0.338481 -0.070657 -0.035322  0.081629  0.257307

In [29]:
train_data.drop (['Age', 'SibSp', 'Parch'], axis=1, inplace=True)
train_data.head (1)

   Survived  Pclass   Sex  Fare
0         0       3  male  7.25

In [30]:
test_data.drop (['Age', 'SibSp', 'Parch'], axis=1, inplace=True)
test_data.head (1)

   Pclass   Sex    Fare
0       3  male  7.8292

In [31]:
train_data ['Sex'].replace (['male', 'female'], [0, 1], inplace=True)
train_data ['Sex'] [:3]

0    0
1    1
2    1
Name: Sex, dtype: int64

In [32]:
test_data ['Sex'].replace (['male', 'female'], [0, 1], inplace=True)
test_data ['Sex'] [:3]

0    0
1    1
2    0
Name: Sex, dtype: int64

In [33]:
train_data.head (1), test_data.head (1)

(   Survived  Pclass  Sex  Fare
 0         0       3    0  7.25,
    Pclass  Sex    Fare
 0       3    0  7.8292)

In [34]:
print (train_data.dtypes) 
print (test_data.dtypes)

Survived      int64
Pclass        int64
Sex           int64
Fare        float64
dtype: object
Pclass      int64
Sex         int64
Fare      float64
dtype: object

In [35]:
print (train_data.isna ().sum ().sum ())
print (test_data.isna ().sum ().sum ())

0
0

# Splitting Data

In [36]:
x = train_data.drop (['Survived'], axis=1).values
x

array([[ 3.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 71.2833],
       [ 3.    ,  1.    ,  7.925 ],
       ...,
       [ 3.    ,  1.    , 23.45  ],
       [ 1.    ,  0.    , 30.    ],
       [ 3.    ,  0.    ,  7.75  ]])

In [37]:
y = train_data ['Survived'].values
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [38]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.25, random_state=42)
print (x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(668, 3) (223, 3) (668,) (223,)

# Model Building & Evaluation

In [39]:
model = SVC (C=1.0, kernel='linear')
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.7847533632286996

In [40]:
confusion_matrix (y_test, y_pred)

array([[112,  22],
       [ 26,  63]], dtype=int64)

In [41]:
model = SVC (C=1.0, kernel='rbf')
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.6636771300448431

In [42]:
confusion_matrix (y_test, y_pred)

array([[126,   8],
       [ 67,  22]], dtype=int64)

In [43]:
model = SVC (C=1.0, kernel='poly')
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.6143497757847534

In [44]:
confusion_matrix (y_test, y_pred)

array([[134,   0],
       [ 86,   3]], dtype=int64)

In [45]:
model = SVC (C=1, kernel='sigmoid', tol=0.0001)
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.5605381165919282

In [46]:
confusion_matrix (y_test, y_pred)

array([[81, 53],
       [45, 44]], dtype=int64)

In [47]:
model = SVC (C=1, kernel='linear', tol=0.001, gamma='auto')
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.7847533632286996

In [48]:
print ('Final report of last model')
confusion_matrix (y_test, y_pred)

Final report of last model

array([[112,  22],
       [ 26,  63]], dtype=int64)

In [49]:
print (classification_report (y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.84      0.82       134
           1       0.74      0.71      0.72        89

    accuracy                           0.78       223
   macro avg       0.78      0.77      0.77       223
weighted avg       0.78      0.78      0.78       223

In [50]:
model = SVC (C=1000, kernel='linear', tol=0.0001, gamma=100)
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.7533632286995515

#### Good Accuracy till now

In [51]:
model = SVC (C=1700, kernel='rbf', tol=0.0001, gamma='auto')
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.8295964125560538

In [52]:
model = SVC (C=1000, kernel='rbf', tol=0.0001, gamma=155)
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.757847533632287

In [53]:
model.fit (x, y)
test_y_pred = model.predict (test_data.values)

In [54]:
test_y_pred

array([0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

# Compare true & preedicted result

In [55]:
df = pd.concat ([pd.DataFrame ({'Predicted Survived': test_y_pred}), test_data], axis=1)

In [56]:
df

     Predicted Survived  Pclass  Sex      Fare
0                     0       3    0    7.8292
1                     0       3    1    7.0000
2                     0       2    0    9.6875
3                     0       3    0    8.6625
4                     1       3    1   12.2875
..                  ...     ...  ...       ...
413                   0       3    0    8.0500
414                   1       1    1  108.9000
415                   0       3    0    7.2500
416                   0       3    0    8.0500
417                   0       3    0   22.3583

[418 rows x 4 columns]

# Visualizing model

In [57]:
model

SVC(C=1000, gamma=155, tol=0.0001)

In [58]:
model.fit (x_train, y_train)
y_pred = model.predict (x_test)
accuracy_score (y_test, y_pred)

0.757847533632287

In [59]:
y_pred

array([0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

In [60]:
y_pred == 0, 0

(array([ True,  True,  True, False, False,  True, False,  True, False,
         True,  True,  True,  True,  True,  True, False, False,  True,
         True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True, False,  True, False, False, False,  True,  True,
         True, False,  True,  True,  True,  True,  True,  True,  True,
         True, False,  True,  True,  True, False, False,  True,  True,
         True, False,  True,  True,  True, False,  True, False, False,
         True,  True, False,  True,  True,  True, False, False, False,
        False, False,  True,  True, False, False, False, False,  True,
        False, False,  True, False,  True, False,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True, False,
         True,  True,  True,  True,  True,  True,  True, False,  True,
         True,  True, False,  True,  True, False,  True,  True,  True,
         True,  True,  True,  True,  True, False,  True,  True,  True,
        False,  True,  True,  True, False,  True,  True, False, False,
         True, False,  True,  True,  True,  True, False,  True,  True,
         True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True,  True, False,  True, False, False,  True,  True,
         True,  True, False,  True,  True, False,  True,  True,  True,
        False, False,  True,  True,  True, False, False, False,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
        False,  True,  True,  True,  True, False,  True, False,  True,
         True,  True,  True,  True, False,  True,  True, False,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
        False,  True, False,  True,  True, False,  True]),
 0)

In [61]:
x_test

array([[  3.    ,   0.    ,  15.2458],
       [  2.    ,   0.    ,  10.5   ],
       [  3.    ,   0.    ,   7.925 ],
       [  2.    ,   1.    ,  33.    ],
       [  3.    ,   1.    ,  11.2417],
       [  1.    ,   1.    ,  78.85  ],
       [  3.    ,   1.    ,   7.75  ],
       [  3.    ,   0.    ,  18.    ],
       [  3.    ,   1.    ,   7.75  ],
       [  1.    ,   1.    ,  26.2833],
       [  1.    ,   0.    ,  53.1   ],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   1.    ,  25.4667],
       [  3.    ,   0.    ,   7.225 ],
       [  2.    ,   0.    ,  13.    ],
       [  1.    ,   1.    ,  39.4   ],
       [  1.    ,   0.    ,  52.5542],
       [  3.    ,   1.    ,   7.8292],
       [  2.    ,   0.    ,  13.    ],
       [  1.    ,   0.    ,  52.    ],
       [  3.    ,   0.    ,   7.8958],
       [  1.    ,   0.    ,  26.55  ],
       [  3.    ,   1.    ,   7.8542],
       [  3.    ,   0.    ,   9.225 ],
       [  3.    ,   0.    ,  14.5   ],
       [  3.    ,   0.    ,  27.9   ],
       [  1.    ,   0.    ,  27.7208],
       [  2.    ,   0.    ,  13.    ],
       [  3.    ,   0.    ,  27.9   ],
       [  3.    ,   1.    ,   7.8542],
       [  3.    ,   0.    ,   7.8958],
       [  3.    ,   1.    ,   7.75  ],
       [  1.    ,   0.    ,  30.6958],
       [  3.    ,   1.    ,   7.55  ],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   0.    ,  14.4542],
       [  1.    ,   0.    ,  35.5   ],
       [  3.    ,   1.    ,   7.75  ],
       [  1.    ,   1.    ,  31.    ],
       [  3.    ,   0.    ,   7.8958],
       [  2.    ,   0.    ,  73.5   ],
       [  3.    ,   0.    ,   7.0458],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   0.    ,   7.75  ],
       [  3.    ,   1.    ,  14.4542],
       [  3.    ,   0.    ,  34.375 ],
       [  3.    ,   0.    ,   8.1583],
       [  3.    ,   0.    ,   9.225 ],
       [  3.    ,   0.    ,   7.05  ],
       [  1.    ,   0.    , 113.275 ],
       [  3.    ,   1.    ,  19.2583],
       [  1.    ,   1.    ,  93.5   ],
       [  3.    ,   0.    ,  27.9   ],
       [  1.    ,   0.    , 120.    ],
       [  3.    ,   0.    ,   7.75  ],
       [  1.    ,   1.    ,  79.65  ],
       [  2.    ,   0.    ,  10.5   ],
       [  1.    ,   1.    , 247.5208],
       [  2.    ,   1.    ,  21.    ],
       [  3.    ,   1.    ,   7.8792],
       [  3.    ,   0.    ,   7.775 ],
       [  2.    ,   1.    ,  19.5   ],
       [  2.    ,   1.    ,  26.    ],
       [  1.    ,   0.    ,  25.925 ],
       [  3.    ,   0.    ,   7.75  ],
       [  2.    ,   1.    ,  10.5   ],
       [  2.    ,   0.    ,  73.5   ],
       [  3.    ,   0.    ,   7.875 ],
       [  3.    ,   0.    ,   7.2292],
       [  1.    ,   1.    ,  78.2667],
       [  2.    ,   1.    ,  26.    ],
       [  1.    ,   1.    , 262.375 ],
       [  1.    ,   0.    ,  30.    ],
       [  1.    ,   1.    ,  83.1583],
       [  3.    ,   0.    ,   7.8542],
       [  3.    ,   0.    ,  15.55  ],
       [  3.    ,   1.    ,   7.75  ],
       [  1.    ,   1.    ,  49.5   ],
       [  2.    ,   1.    ,  13.    ],
       [  3.    ,   1.    ,  20.2125],
       [  3.    ,   0.    ,  39.6875],
       [  2.    ,   1.    ,  10.5   ],
       [  1.    ,   1.    , 134.5   ],
       [  3.    ,   0.    ,   7.7375],
       [  1.    ,   0.    ,  30.6958],
       [  1.    ,   0.    ,  49.5042],
       [  1.    ,   1.    , 113.275 ],
       [  1.    ,   1.    ,  56.9292],
       [  1.    ,   0.    ,   0.    ],
       [  3.    ,   0.    ,   7.25  ],
       [  3.    ,   0.    ,  20.525 ],
       [  3.    ,   1.    ,  31.275 ],
       [  1.    ,   0.    ,  32.3208],
       [  3.    ,   0.    ,   7.7292],
       [  3.    ,   0.    ,   7.8958],
       [  3.    ,   0.    ,   7.8542],
       [  1.    ,   0.    ,  52.    ],
       [  3.    ,   0.    ,   8.05  ],
       [  2.    ,   1.    ,  13.    ],
       [  3.    ,   0.    ,   7.8958],
       [  1.    ,   0.    ,  26.    ],
       [  3.    ,   0.    ,   7.125 ],
       [  1.    ,   1.    ,  91.0792],
       [  3.    ,   0.    ,   7.05  ],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   0.    ,   7.775 ],
       [  2.    ,   1.    ,  39.    ],
       [  1.    ,   0.    ,  38.5   ],
       [  3.    ,   0.    ,   9.5   ],
       [  1.    ,   0.    ,  31.    ],
       [  1.    ,   1.    ,  52.    ],
       [  3.    ,   0.    ,   7.25  ],
       [  1.    ,   1.    ,  89.1042],
       [  1.    ,   0.    ,  26.2875],
       [  1.    ,   0.    , 221.7792],
       [  3.    ,   0.    ,   9.8458],
       [  1.    ,   0.    ,  34.6542],
       [  2.    ,   0.    ,  12.875 ],
       [  2.    ,   1.    ,  29.    ],
       [  3.    ,   1.    ,  34.375 ],
       [  2.    ,   0.    ,  11.5   ],
       [  1.    ,   1.    ,  76.2917],
       [  1.    ,   1.    ,  77.9583],
       [  2.    ,   0.    ,  29.    ],
       [  3.    ,   0.    ,   7.25  ],
       [  1.    ,   0.    ,  26.55  ],
       [  1.    ,   1.    ,  25.9292],
       [  1.    ,   0.    ,  79.2   ],
       [  3.    ,   1.    ,  14.4583],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   1.    ,   7.8792],
       [  3.    ,   0.    ,  15.2458],
       [  2.    ,   0.    ,   0.    ],
       [  3.    ,   1.    ,  12.475 ],
       [  1.    ,   0.    ,  56.9292],
       [  3.    ,   1.    ,  14.4542],
       [  1.    ,   1.    , 110.8833],
       [  3.    ,   0.    ,   7.775 ],
       [  3.    ,   0.    ,   7.55  ],
       [  3.    ,   1.    ,  17.8   ],
       [  3.    ,   0.    ,   8.4333],
       [  2.    ,   1.    ,  26.    ],
       [  2.    ,   0.    ,  13.    ],
       [  2.    ,   0.    ,  26.    ],
       [  3.    ,   1.    ,  29.125 ],
       [  2.    ,   1.    ,  32.5   ],
       [  2.    ,   0.    ,  13.    ],
       [  2.    ,   0.    ,  10.5   ],
       [  1.    ,   1.    , 146.5208],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   0.    ,   8.7125],
       [  3.    ,   0.    ,   7.4958],
       [  3.    ,   0.    ,   7.7958],
       [  3.    ,   1.    ,  24.15  ],
       [  3.    ,   0.    ,   8.05  ],
       [  3.    ,   0.    ,   7.05  ],
       [  3.    ,   0.    ,  56.4958],
       [  3.    ,   1.    ,   7.7875],
       [  2.    ,   1.    ,  26.    ],
       [  3.    ,   1.    ,  15.5   ],
       [  3.    ,   0.    ,   7.2292],
       [  1.    ,   0.    ,  26.55  ],
       [  2.    ,   0.    ,  13.    ],
       [  1.    ,   1.    ,  82.1708],
       [  3.    ,   0.    ,   8.4583],
       [  1.    ,   0.    ,  61.9792],
       [  2.    ,   0.    ,  10.5   ],
       [  1.    ,   1.    ,  51.8625],
       [  3.    ,   0.    ,   7.8958],
       [  3.    ,   0.    ,   7.05  ],
       [  1.    ,   0.    ,  63.3583],
       [  2.    ,   1.    ,  13.    ],
       [  1.    ,   0.    ,  26.3875],
       [  3.    ,   1.    ,  15.2458],
       [  3.    ,   0.    ,   7.125 ],
       [  3.    ,   0.    ,   7.225 ],
       [  3.    ,   1.    ,  31.3875],
       [  2.    ,   1.    ,  10.5   ],
       [  3.    ,   1.    ,  16.7   ],
       [  1.    ,   0.    ,  28.5   ],
       [  2.    ,   0.    ,  13.    ],
       [  3.    ,   0.    ,   7.925 ],
       [  3.    ,   0.    ,   7.8542],
       [  3.    ,   1.    ,  31.275 ],
       [  1.    ,   0.    , 247.5208],
       [  1.    ,   0.    ,  26.55  ],
       [  2.    ,   0.    ,  27.7208],
       [  3.    ,   0.    ,   7.8958],
       [  1.    ,   0.    ,  35.5   ],
       [  2.    ,   1.    ,  13.    ],
       [  3.    ,   0.    ,  24.15  ],
       [  2.    ,   0.    ,  12.275 ],
       [  3.    ,   0.    ,   7.0542],
       [  3.    ,   0.    ,   9.5   ],
       [  2.    ,   1.    ,  26.    ],
       [  1.    ,   1.    ,  90.    ],
       [  1.    ,   1.    , 227.525 ],
       [  2.    ,   0.    ,  13.    ],
       [  1.    ,   1.    ,  57.    ],
       [  3.    ,   1.    ,  31.275 ],
       [  3.    ,   0.    ,   6.2375],
       [  3.    ,   1.    ,   8.6625],
       [  2.    ,   1.    ,  26.25  ],
       [  3.    ,   1.    ,   9.5875],
       [  3.    ,   0.    ,   7.2292],
       [  3.    ,   1.    ,  22.3583],
       [  3.    ,   0.    ,   9.4833],
       [  1.    ,   0.    , 120.    ],
       [  3.    ,   0.    ,  14.4583],
       [  3.    ,   0.    ,   8.05  ],
       [  1.    ,   0.    , 211.5   ],
       [  3.    ,   0.    ,   7.25  ],
       [  1.    ,   1.    ,  90.    ],
       [  3.    ,   0.    ,   7.725 ],
       [  3.    ,   1.    ,  25.4667],
       [  3.    ,   0.    ,  21.075 ],
       [  2.    ,   1.    ,  30.    ],
       [  1.    ,   0.    ,  61.3792],
       [  2.    ,   1.    ,  26.    ],
       [  3.    ,   0.    ,   7.25  ],
       [  3.    ,   0.    ,   7.8958],
       [  2.    ,   1.    ,  13.    ],
       [  3.    ,   0.    ,  20.2125]])

In [62]:
(x_test [y_pred == 0, 1])

array([0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0.])

In [63]:
len (y_pred), len (x_test), len (y_train)

(223, 223, 668)